@import 'mixins';
@import 'variables';

.hbspt-form {
  form {
    &.hs-form {
      fieldset {
        max-width: none;
        text-align: left;
        padding: 0.6rem;

        label {
          line-height: 2;
          font-weight: 400;
        }

        input, textarea {
          &.hs-input {
            width: 100%;
          }
        }

        @include use-down('sm') {
          & > .hs-form-field {
            float: none;
            width: 100%;
          }
        }
      }

      fieldset:first-of-type {
        .hs-richtext {
          padding-bottom: 2rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2.4rem;
        }
      }

      ul {
        font-size: 0.7rem;
        color: $color-brand;

        @include use-down('sm') {
          font-size: 1rem;
        }
      }
    }
  }
}