@import 'mixins';

@include use-up('sm') {
  .featured-clients-list {
    > .row:nth-child(2n) {
      flex-direction: row-reverse;
    }
    .item--text {
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
        padding-bottom: 0;
      }

      .item__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        margin: 0;
        width: 90%;
      }

      > a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
}