.pricingmodel {
    .iconimage {
        .background-image-container {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .contentwrapper {
        position: relative;
        padding-top: 66%;
    }

    .text {
        position: absolute;
        top: 50%;
        font-size: 140px;
        margin-top: -70px;
        line-height: 140px;
        text-align: center;
        width: 100%;
        font-weight: bold;
        color: $brand-primary-light;
    }

}
