.reference-window {
  text-align: center;

  h3 {
    margin-top: 0;
  }

  .link-box {
    color: $color-highlight;
    margin-top: 1em;
    border: 1px solid $color-highlight;
    padding: 0.5em;

    &:hover {
      color: $color-font-main;
      border-color: $color-font-main;
    }
  }
}
