@import 'variables';

.button {
  color: $color-brand;
  border: 1px solid $color-brand;
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.2s all;
  background: none;
  outline: none;
  user-select: none;
}

.button--dark {
  color: $text-color-normal;
}

.button--borderless {
  border: none;
}

.button--icon {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}
