/node_modules
.DS_Store
npm-debug.log

/wp/*
!/wp/wp-content

/wp/wp-content/*
!/wp/wp-content/plugins/
!/wp/wp-content/themes/

/wp/wp-content/plugins/akismet
/wp/wp-content/plugins/index.php
/wp/wp-content/plugins/hello.php

/wp/wp-content/themes/*
!/wp/wp-content/themes/sysart

/wp/wp-content/themes/sysart/scripts
/wp/wp-content/themes/sysart/fonts
/wp/wp-content/themes/sysart/styles
