.single-person {

  .person-title {
    margin-bottom: 32px;

    h1 {
      margin-top: 0;
    }
  }

  .personpreview {
    margin-top: 0;
  }

  @include use-up('md') {
    .person-image-container {
      float: right;
    }
  }

  @include use-down('md') {
    .person-title {
      margin-bottom: 32px;

      h1 {
        text-align: center;
      }
    }
    .person-text {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}
