footer {
  border-top: 1px solid #ddd;
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;


  h4 {
    font-weight: bold;
  }

  @include use-down('sm') {
    text-align: center;

    .footer-component, .image-container, .copyright-info {
      margin-top: 32px;
    }

    .image-container {
      padding-left: 42px;
      padding-right: 42px;
    }

  }
}

.fp-footer-container footer {
  border-top: none;
}
