body {
  padding-top: $nav-bar-height + 32px;
  overflow-x: hidden;
}

.clear {
  clear: both;
}

.content-block {
  margin-top: 64px;
  margin-bottom: 64px;

  @include use-down('sm') {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.alt-bg-color {
    background-color: $color-bg-light;
}

ul, li, ol {
  list-style-type: none;
}

.content-section {
  ul {
      margin: 20px auto;
  }
  ul, ol {
    color: $brand-primary;

    li {
      list-style-type: disc;
    }
  }

  h1,h2 {
    font-weight: 600;
  }
}

.text-container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

[square] {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

$gutters: (
  large: 32px
);

@each $name, $size in $gutters {
  .row.#{$name}-gutter {
    margin-left: -$size;
    margin-right: -$size;

    [class*="col-"] {
      padding-left: $size;
      padding-right: $size;
    }
  }
}
