#wrapper {
  position: relative;
  max-width: $page-width;
  margin: 0 auto;
}

.block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

$gutters: (
  large: 32px
);

@each $name, $size in $gutters {
  .row.#{$name}-gutter {
    margin-left: -$size;
    margin-right: -$size;

    [class*="col-"] {
      padding-left: $size;
      padding-right: $size;
    }
  }
}
