@import 'variables';

@mixin use-up($size) {
  $sizes: map-get($breakpoints, $size);

  @media (min-width: nth($sizes, 1)) {
    @content;
  }
}

@mixin use-down($size) {
  $sizes: map-get($breakpoints, $size);

  @media (max-width: nth($sizes, 1) - 1px) {
    @content;
  }
}

@mixin gradient-vertical($from, $to) {
  background: linear-gradient(to bottom, $from, $to);
}

@mixin item--square() {
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
    padding-bottom: 0;
  }

  .item__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin: 0;
    width: 90%;
  }

  > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
