$grid-gutter-width: 16px;
$nav-bar-height: 64px;

$page-width: 1440px;


$font-size-base: 16px;

$brand-primary:         darken(#f58242, 6.5%);
$brand-primary-text:  white;
$brand-primary-light: lighten($brand-primary, 10%);
$link-hover-color: lighten($brand-primary, 20);
$color-font-main: #444444;
$color-font-light: #fff;
$color-bg-dark: #122B3E;
$color-bg-light: #efefef;
