$height-wp-admin: 32px;
$height-wp-admin-mobile: 46px;
$height-navbar: 64px;

$width-page: 1440px;
$width-content: 920px;

$color-brand: #f58242;

$border-color: #D8D8D8;
$border-color-light: #eee;
$background-dark: #282828;

$text-color-normal: #444;
$text-color-white: #fff;

$border-small: 1px solid $border-color;
$border-light: 1px solid $border-color-light;
