$width-page: 1440px;
$width-content: 920px;

$color-brand: #f58242;

$border-color: #D8D8D8;
$background-dark: #282828;

$text-color-normal: #444;
$text-color-white: #fff;

$border-small: 1px solid $border-color;
