@import 'variables';

#wrapper {
  position: relative;
  max-width: $width-page;
  margin: 0 auto;
}

html, body {
  font-size: 16px;
}

p {
  font-weight: 200;
}

a {
  color: $color-brand;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover, &:focus, &:active {
    color: $color-brand;
    text-decoration: none;
    opacity: 0.7;
  }
}
