@import 'variables';

#wrapper {
  position: relative;
  max-width: $width-page;
  margin: 0 auto;
}

html, body {
  font-size: 16px;
}

p {
  font-weight: 200;
}

a {
  color: $color-brand;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: lighten($color-brand, 20%);
  }
}
