$gutters: (
  no: 0,
  large: 32px
);

@each $name, $size in $gutters {
  .row.#{$name}-gutter {
    margin-left: -$size;
    margin-right: -$size;

    [class*="col-"] {
      padding-left: $size;
      padding-right: $size;
    }
  }
}
