nav {
  display: none !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-bar-height;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.9);
  z-index: 1;

  @include use-up('sm') {
    .admin-bar & {
      top: 32px;
    }
  }

  .container {
    height: $nav-bar-height;
    display: flex;
    align-items: center;
  }

  #menu-burger {
    display: none;
  }

  img {
    height: 20px;
    width: auto;
    min-width: 0 !important;
    max-width: none !important;
  }

  .main-link {
    flex: 1 0 auto;

    @include use-down('sm') {
      text-align: center;
    }
  }

  ul {
    text-align: right;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 0 $grid-gutter-width/2;
    text-transform: uppercase;

    &:first-child {
      display: none;
    }
  }

  @include use-down('sm') {
    .menu-logo {
      padding: 0;
      width: 100%;
      text-align: center;
      line-height: $nav-bar-height;

      h2 {
        line-height: $nav-bar-height;
        margin: 0;
        font-size: 12pt;
      }

      a.main-link {
        display: none;
      }
    }

    .menu-main-menu-container {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
    }

    #menu-burger {
      display: block;
      position: absolute;
      top: 50%;
      right: $grid-gutter-width;
      font-size: 16pt;
      line-height: 20pt;
      margin-top: -10pt;

    }

    ul {
      background-color: white;
      box-shadow: 0px 20px 60px -20px rgba(0,0,0,0.6);
      overflow: hidden;
      transition: 0.3s;
      height: 0;
      text-align: center;

      li {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 0;
        padding-left: 42px !important;
        padding-right: 42px !important;
        height: 50px;
        line-height: 50px;
        transition: 0.2s;
        opacity: 1;
        transition-timing-function: ease-in;
        white-space: nowrap;

        a {
          display: block;
          pointer-events: all;
        }

        &:first-child {
          display: block;
        }
      }
    }

    &.menu-closed {
      li {
        opacity: 0;
      }
    }
  }
}
