@import 'variables';

.block {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.block__content {
  max-width: $width-content;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 4em 2.5em 5.5em;
}

.block--dark {
  color: $text-color-white;
}
