@import 'variables';

.title {
  color: red;
}

.title--highlight {
  text-transform: uppercase;
  color: $color-brand;
  font-size: 20px;
  font-weight: 600;
}

.title--medium {
  color: $text-color-normal;
  font-weight: 600;
  font-size: 36px;
}
